@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using KnowledgeTester.Helpers
@model KnowledgeTester.Models.TestReviewModel
<div class="menuDiv">
    <span class="menuLink" onclick="document.location.href = '../TestResults/Index?id='+'@SessionWrapper.CurrentTestResultId;'">Back</span>
    <span class="menuLink" onclick="validateTest()">Finish</span></div>
<script type="text/javascript">
    function validateTest() {
        var score = prompt("Current score for this test is " + @Model.Score + ".\n\nIf you would like to change the score please enter a new value, otherwise leave blank");

        $.ajax({
            url: '@Url.Action("Validate", "TestReview")',
            data: { testId: $("#testIdHidden").val(), username: $("#usernameHidden").val(), score: score },
            type: 'POST',
            success: function(data) {
                alert("Saved!");
                document.location.href = '../TestResults/Index?id='+'@SessionWrapper.CurrentTestResultId';
            }
        });
    }
</script>
@Html.HiddenFor(m => m.Username, new { @id = "usernameHidden" })
@Html.HiddenFor(m => m.TestId, new { @id = "testIdHidden" })
@for (int i = 0; i < Model.Questions.Length; i++)
{
    <div class="roundBordered" id='containerFor_@i' style="border: 2px solid @Model.Questions[i].Color">
        <span style="font-size: 18px;">@Model.Questions[i].Text</span>
        @for (int j = 0; j < Model.Questions[i].Answers.Length; j++)
        {
            <div style="display: flex; margin-top: 5px;">@Html.CheckBoxFor(a => a.Questions[i].Answers[j].IsSelected, new { @disabled = "disabled", @style = "margin-right:10px; ", @id = "answerCheck" + i.ToString() + j.ToString(), })
                <span style="color: @Model.Questions[i].Answers[j].Color ">@Model.Questions[i].Answers[j].Text</span>
            </div>
        }
        @Html.TextAreaFor(m => m.Questions[i].Argument, new { @id = "textArg" + i, @style = "width: 98%; height:50px; max-width: 98%; max-height:100px;", @disabled = "disabled" })
        <div style="font-style: italic;">@Model.Questions[i].CorrectArgument</div>
    </div>
}
