@{
    ViewBag.Title = "Home Page";
}
@model KnowledgeTester.Models.LoginModel

@using (Ajax.BeginForm("Login", "Home", new { FormMethod.Post }, null, new { Id = "LoginForm" }))
{
    <div style="display: table-caption;">
        @Html.TextBoxFor(m => m.UserName, new { @id = "userName", @placeholder = "Username", @style = "width: 250px; height:20px;" })
        @Html.ValidationMessageFor(m => m.UserName)
        @Html.PasswordFor(m => m.Password, new { @id = "password", @placeholder = "Password", @style = "width: 250px; height:20px;" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <input type="submit" value="Login" style="margin-left: 0px;" />
    <span style="cursor: pointer;" onclick="hintClick()">
        Hint</span> <a href="../Register">Register</a>
}
<script>
    function hintClick() {
        $.ajax({
            url: '@Url.Action("GetHint", "Home")',
            data: { userName: $("#userName").val() },
            type: 'POST',
            success: function (data) {
                alert(data);
            }
        });
    }
</script>